<div class="flex with_columns flex-center assignment-creator-progress-item">
  <span class="assignment-creator-progress-item-label">{{label}}</span>
  <div class="flex flex-center assignment-creator-progress-item-circle">
    <div class="flex flex-center assignment-creator-progress-item-inner">
      {{number}}
    </div>
  </div>
</div>
