<div class="flex with_rows">
  {{navs/projects-nav projects=model}}
  <div class="content scrolls flex fill with_columns">
    <div class="list-container flex flex-center">
      <div>
        <img src='assets/images/courses.svg' class="indicator-icon">
        Choose a project
      </div>
    </div>
  </div>
</div>
