<div class="card-container">
  <div class="flex end">
  {{link-to 'New Topic' 'courses.show.discussions.topic.new' (query-params forum_id=model.forum.id) class='btn btn-primary'}}
  </div>

  <div class="splitter flex fill flex-center">
    <span class="splitter-text">Topics</span>
    <span class="flex fill splitter-line"></span>
  </div>
</div>

<ul class="list list-normal flex with_columns">
  {{#each model.forum.topics as |topic|}}
    {{#link-to 'courses.show.discussions.topic' topic class='list-normal-item block'}}
      <h3>{{topic.name}}</h3>
      <p>{{topic.description}}</p>
    {{/link-to}}
  {{/each}}
</ul>
