<div class="card-container">
  <h3>{{post.title}}</h3>
</div>
{{discussion-messages post=post}}
<div class="comment-editor flex with_rows">
  <div class="flex fill">
    {{input value=commentText placeholder="Add comment" class='comment-box'}}
  </div>
  <div class="flex end">
    <button class='btn btn-primary' {{action "addComment"}}>Send</button>
  </div>
</div>
