.assignment-creator-progress {
  height: 50px;
  padding: 5px;
}

.assignment-creator-progress-item {
  margin: 0 25px;
}

.assignment-creator-progress-item-circle {
  width: 24px;
  height: 24px;
  background-color: #c6d6dc;
  border-radius: 50%;
}

.assignment-creator-progress-item-inner {
  width: 22px;
  height: 22px;
  background-color: white;
  border-radius: 50%;
  color: #60686b;
  font-size: 12px;
}

.assignment-creator-progress-item-label {
  margin-bottom: 5px;
  font-size: 12px;
}
