<div class="title-btn flex with_rows">
  <div class="flex flex-center mar__r__15">
    {{#link-to 'index'}}
      <div class="circle flex flex-center">
        <img src='assets/images/left-arrow.svg' class="nav-back">
      </div>
    {{/link-to}}
  </div>
  <div>
    <h4>{{subheader}}</h4>
    <span>NUIG</span>
  </div>
</div>
