<form {{action "authenticate" on="submit"}}>
  <div>
    <label for="identification">E-mail</label><br />
    {{input value=identification placeholder="E-mail" type="text" name="email"}}
  </div>

  <div>
    <label for="password">Password</label><br />
    {{input value=password placeholder="Password" type="password" name="password"}}
  </div>

  <div>
    <button type="submit">Log in</button>
  </div>
</form>
